/* Crypt  */

.crypt h2 {
    font-family: 'Inconsolata', sans-serif;
}

.crypt input {
    height: 30px;
    width: 800px;
    font-size: 25px;
}

/* Rest */

pre {
    padding: 20px;
    background-color: #efefef;
    overflow-x: scroll;
}

blockquote {
    background-color: #efefef;
}

.content {
    overflow: hidden;
}

.sidebar {
    text-align: right;
}

#terminal {
    font-size: 1.3em;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 15px;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

#prompt {
    font-size: 1.3em;
}

#console{
    font-family: 'Inconsolata', sans-serif;
    height: 500px;
    width: 97%;
    border: 1px solid #aaa;
    padding: 5px 9px;
    margin: 15px 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#console strong {
    font-family: 'Inconsolata', sans-serif;
}

.cnsl-ln{
    font-family: 'Inconsolata', sans-serif;
    font-size: 25px;
}

#cursor {
    font-size: 20px;
}

#input{
    font-family: 'Inconsolata', sans-serif;
    margin: 5px 0 0 0;
    width: 98%;
}

#command{
    border: 1px solid #aaa;
    font-size: 25px;
    height: 40px;
    padding-left: 5px;
    width: 100%;
}

#gittip {
    margin: 30px auto;
    padding: 0px 0px 0px 20px;
}

#gittip img {
    float: left;
}

#gittip p {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    color: rgb(78, 59, 46);
}
