
.container {
    /*margin-top: 100px;*/
}

.container div {
    text-align: center;
}

.row {
    padding: 50px 0 0 0;
    height: 250px;
}

.section {
    font-size: 2em;
    /*border-bottom: 1px solid;*/
    height: 100px;
}

.one, .two, .three {
    cursor: pointer;
}

.one:hover {
    color: #2780BC;
}

.two:hover {
    color: #F75B5B;
}

.three:hover {
    color: #0BA157;
}

.two {
    text-align: left;
}

.logo {
    margin: 0 10px 10px 0;
    float:left;
}

.title {
    margin-top: 100px;
    text-shadow: 2px 2px #ddd;
}